*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
}

:root{
    --header-footer: #3D6473; 
    --main: #734c3d;
    --text: #FDFDFD;
    --body: #FFFBFB;
    --card-text: #5A5555;
}

body{
    background-color: var(--body);
}

header,footer,nav,main{
    color: var(--text);
}

/*format for header*/
header,footer{
    /* border: solid blue 2px; */
    background-color: var(--header-footer);
    padding-top: 1rem;
}

header{
    display: grid;
    grid-template-columns: 70px auto 44px;
    align-items: end;
    font-family: "Caveat";
    font-size: large;
}

header div{
    /* border: dashed red 3px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
}

header img{
    padding: 2rem 2vw;
    border-radius: 50%;
}

#hamButton{
    font-size: 2rem;
    background:none;
    border: none;
    color: Var(--text);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw; 
    margin-bottom: 2.5rem;
}

#hamButton::before{
    content: "\2630";
}

#hamButton.open::before{
    content: "X";
}

/*formatting for navigation*/
nav{
    display: grid;
    grid-template-rows: 0fr;
    font-family: "Caveat";
    font-size: xx-large;
    transition: grid-template-rows 0.5s ease-out;
    background-color: var(--header-footer);
    width: 40rem;
}

nav ul{overflow: hidden;}

nav.open{
    grid-template-rows: 1fr;
}

nav ul.menuLinks li a{
    /* border: solid pink 3px; */
    display: block;
    padding: .75rem 2vw;
    text-align:left;
    color: var(--text);
    text-decoration: none;
}

nav li.current-menu-item{
    background-color: rgba(0,0,0,0.2);
    color: var(--text);
}

nav ul.menuLinks a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

ul.menuLinks{
    list-style-type: none;
}

/*hero image formatting*/

main, .hero-text{
    font-family: "Courier Prime";   
}

.hero-image{
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero.webp");

    /* Set a specific height */
    height: 80%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* margin-bottom: 1rem; */
    
}

.hero-text{
    /* border: solid black 5px; */
    text-align: center;
    position: absolute; 
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: var(--text);   
}

.hero-text span{
    font-size: large;
    color: white;
}

.hero-text a{
    position: absolute;
    text-decoration: none;
    align-content: center; 
    top: 475px;
    left: 10px;
    background-color: var(--header-footer);  
    width: 140px;
    height: 70px;
    color: var(--body);
    font-family: "Caveat";
    font-size: xx-large;
    border-radius: 150%;
    border: solid var(--body);
}

.hero-text a:hover{
        cursor: pointer;
        background-color: rgba(66, 136, 174, 0.9);
    }

/*main formatting*/

main{
    border: solid var(--main);
    background-color: var(--main);
}

main h2{
    text-align: center;
    padding: 1rem 0rem;
}

#events section{
    /* border: solid black 5px; */
    padding: 1rem 0rem;
    margin-bottom: 1.5rem;
    background-color: var(--body);
    color: var(--card-text);
    width: 98%;
    margin-left: 1%;
}

#events h3{
    text-align: center;
    border-bottom: solid var(--card-text);
    padding-bottom: 10px;
    font-weight: 800;
    font-size: larger;
}

#events p{
    text-align:start;
    padding-top: 10px;
    font-size: medium;
    padding-left: 5px;
}

#registration{
    margin-left: 5%;
    justify-items: center;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 0.5rem 0;
    font-family: "Courier prime";
    font-size: large;
    background-color: var(--main);
    color: var(--body);
    border: solid var(--main);
}

#registration:hover{
    cursor: pointer;
    background-color: var(--body);
    color: var(--main);
}

/*formatting modal*/

#modal{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 60rem;
    left: 1rem;
    background-color: var(--body);
    border-radius: 10px;
    border: 1px;
    padding: 0;
    color: var(--header-footer);
    border: solid var(--header-footer) 4px;
}


#banner button{
    background-color: var(--header-footer);
    color: var(--body);
    width: 40px;
    height: 40px;
    font-family: "Courier prime";
    font-size: xx-large;
    border: solid var(--header-footer) 1px;
}

#banner{
    display: grid;
    grid-template-columns: auto 60px;
    border-bottom: solid var(--header-footer) 2px;
    padding: 5px;
    background-color: var(--body);
    width: 100%;    
}

#banner h2{
    align-content: center;
    text-align: center;
}

#invitation{
  padding: 1rem;
}

#invitation a{
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
    color: var(--main);
}

#invitation p{
    font-weight: bold;
}

#modal form{
    border: none;
    margin: 3px;
    padding: 1rem;
    font-weight: bold;
}

#modal input[type=text], 
#modal input[type=email]{
    display: block;
    color: var(--header-footer);
    font-size: large;
    border: solid var(--header-footer);
    padding: 0.3rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
    font-weight: bold;
}

#modal input[type=submit]{
    /* width: 40%; */
    margin-top: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: solid var(--header-footer);
    background-color: var(--header-footer);
    color: var(--body);
    font-family: "Courier prime";
    font-size: large;
}

#modal input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--body);
    color: var(--header-footer);
}

/*News section formatting*/
#news{
    width: 98%;
    margin-left: 1%;
    background-color: var(--main);
    color: var(--main);
}

#news section{
    /* border: solid black 3px; */
    margin: 1rem 0;
    background-color: var(--body);
    padding: 5px;
}

#news h3{
    font-weight: bolder;
    padding: 1rem 0;
}

#news h2{
    padding-top: 1rem;
}

#news a{
    text-decoration: none;
    font-family: "Courier prime";
    color: var(--main);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#news a:hover{
    cursor: pointer;
    font-style: italic;
    color: rgba(0,0,0,0.3);

}

/*footer formatting*/
footer{
    /* border: solid black 4px; */
    padding-bottom: 2rem;
    font-family: "Courier Prime";
}

footer p{
    /* border: solid black; */
    padding-top: 1rem;
}

.course-info, .project-info{
    padding-left:2rem;
}

.project-info a{
    color: var(--text);
    font-family: "Courier prime";
    text-decoration: none;
}

.project-info a:hover{
    font-style: italic;
    font-weight: bold;
}

.social-media img{
    /* border: solid black 3px; */
    width: 60px;
    height: auto;
    border-radius: 8px;
    margin: 2rem 1rem;  
}

.social-media{
    /* border: solid yellow 3px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
}
