@media screen and (min-width: 640px){
    
    main div{
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        width: 90%;
        justify-items:center;
    }

}